body
{
    background-image: url("images/background.jpg");
    background-size: cover;
    margin: auto;
}

body *
{
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.vanish-text
{
    display: none;
}

.vanish-text:checked ~ .logo-section .logo-text .main,
.vanish-text:checked ~ .logo-section p,
.vanish-text:checked ~ .hr p,
.vanish-text:checked ~ .ads p,
.vanish-text:checked ~ .articles p,
.vanish-text:checked ~ .articles .second-text .continued {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

main
{
    width: 100%;
    height: 297mm;
}

.logo-section
{
    padding-top: 10px;
    display: flex;
    justify-content: left;
}

.logo img
{
    margin-right: 5px;
    margin-left: 10px;
}

.logo-text img
{
    margin-top: 12px;
}

.description
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -15px;
}

.description p
{
    font-family: "Zier";
    text-align: center;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px;
}

.description img
{
    width: 20px;
    height: 20px;
    margin-top: -15px;
}

.hr
{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 36px;
}

.hr img
{
    margin-left: -15px;
    width: 1025px;
    margin-top: -25px;
}

.hr p
{
    font-size: 16px;
    font-family: "GotikaBlack";
    text-wrap: nowrap;
    transform: rotate(180deg);
    margin-left: 0px;
    margin-top: -13px;
    margin-bottom: 12px;
}

.ads
{
    display: flex;
    margin-left: 35px;
    width: 91%;
    height: 75px;
}

.ads img
{
    margin-top: -10px;
    margin-left: 7px;
}

.ad
{
    display: flex;
    border: 3px solid #000;
    margin-left: 5px;
    height: 60px;
    width: 252px;
}

.ad p
{
    font-style: italic;
    font-family: "Inkulinati";
    line-height: .8;
    font-size: 30px;
    margin-left: 5px;
    margin-top: 3px;
}

.ad p span
{
    margin-top: -100px;
    letter-spacing: 10px;
    font-family: "ChampionGothic";
    text-transform: uppercase;
    font-size: 37px;
}

.ad .description
{
    margin-top: -14px;
    margin-left: 0;
    line-height: 1.1;
    text-align: center;
    font-family: "FirstReign";
    font-size: 25px;
    font-style: normal;
}

.weather
{
    margin-left: 10px;
}

.weather .title
{
    margin-top: -3px;
    font-size: 13px;
    font-family: "Inkulinati";
    font-style: bold;
    text-transform: uppercase;
}

.weather .info
{
    margin-left: 2px;
    margin-top: -13px;
    letter-spacing: .3px;
    font-size: 10px;
    font-family: "FirstReign";
}

.weather .info span
{
    font-family: "CloisterBlack";
}

.zodiac
{
    margin-left: 13px;
    margin-top: -17px;
    width: 130px;
}

.zodiac .title
{
    font-family: "GotikaBlack";
}

.zodiac .info
{
    font-family: "CloisterBlack";
    margin-top: -10px;
    line-height: .97;
    font-size: 12px;
}

.zodiac .info span
{
    font-style: bold;
    font-family: "Zodiac";
}

.zodiac img
{
    position: absolute;
    margin-top: -33px;
    margin-left: 55px;
    transform: rotate(30deg);
}

.newspaper-info p
{
    margin-top: -2px;
    margin-left: 70px;
    padding: 0;
    font-family: "GothicMother";
    font-size: 12px;
    width: 93px;
}

.newspaper-info img
{
    position: absolute;
    cursor: pointer;
    margin-top: 0;
    margin-left: 6px;
}

.newspaper-info span
{
    color: #ffb12a;
}

.articles
{
    border: 3px solid #000;
    border-radius: 3px;
    margin-left: 35px;
    width: 710px;
    height: 850px;
    padding: 5px;
    overflow: hidden;
}

.articles .title
{
    position: absolute;
    font: 200px "ChampionGothic";
    text-transform: uppercase;
    line-height: .92;
    margin-top: -15px;
    margin-left: 5px;
    z-index: -1;
}

.articles .title .first-line
{
    letter-spacing: 5px;
}

.articles .title .who
{
    letter-spacing: 2.15px;
}

.articles .title .last-line
{
    white-space: nowrap;
    letter-spacing: 5.5px;
    color: #dadada;
}

.articles .title .last-line::before
{
    margin-top: 15px;
    content: "";
    position: absolute;
    border-radius: 3px;
    width: 700px;
    height: 176px;
    background-color: #000;
    z-index: -2;
}

.articles .main-photo
{
    float: right;
    margin-top: 8.5px;
    margin-right: 8px;
}

.articles .main-photo p
{
    font-size: 7px;
    font-family: "Zier";
    width: 425px;
    margin-top: 0;
    margin-left: 3px;
}

.main-text
{
    float: left;
    width: 208px;
    font: 10px "CloisterBlack";
    line-height: .88;
    margin-left: 325px;
    margin-top: -10px;
}

.main-text::first-letter
{
    float: left;
    font-weight: normal;
    font-size: 29px;
}

.main-text .first-paragraph
{
    font: 10px;
    font-weight: bold;
}

.main-text .turn-over
{
    font: 18px "ChampionGothic";
    text-transform: uppercase;
    line-height: .88;
}

.second-text-spoiler
{
    margin: 0;
    float: left;
    width: 23px;
    height: 370px;
    z-index: -2;
}

.second-text-spoiler p
{
    font: 19.2px "ChampionGothic";
    text-transform: uppercase;
    position: absolute;
    transform: rotate(-90deg);
    margin-left: -178px;
    margin-top: 152px;
    height: 25px;
    width: 370px;
}

.second-text
{
    float: left;
    height: 355px;
}

.second-text .continued
{
    margin-top: -16px;
    margin-left: -4px;
    position: relative;
    width: 145px;
    height: 90px;
}

.second-text .continued p
{
    font-family: "ChampionGothic";
    text-transform: uppercase;
    margin-top: 8px;
    margin-left: 8.6px;
    line-height: .95;
    letter-spacing: 2.8px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    color: #dadada;
}

.second-text .continued::before
{
    content: "";
    position: absolute;
    border-radius: 1px;
    top: 7px;
    left: 3px;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: -3;
}

.second-text .default
{
    font-family: "CloisterBlack";
    transform: rotate(-90deg);
    line-height: .95;
    position: absolute;
    font-size: 10px;
    width: 150px;
    height: 20px;
    margin-top: 73px;
    margin-left: -65px;
}

.second-text .default::first-letter
{
    float: left;
    font-weight: normal;
    font-size: 29px;
}

.second-text .default span
{
    font-weight: normal;
    font-size: 30px;
}

.elon-musk-photo
{
    position: absolute;
    transform: rotate(-90deg);
    margin-left: 15px;
    margin-top: 147px;
}

.title-description p
{
    font-family: "FirstReign";
    text-transform: uppercase;
    line-height: .97;
    font-size: 23px;
    letter-spacing: 5px;
    font-style: light;
    margin-top: 733px;
    margin-bottom: 0;
    text-align: center;
}

.title-description img
{
    margin-left: 22px;
    margin-bottom: 0px;
}

.first-spoiler
{
    float: left;
    display: flex;
    margin: 0 0 0 30px;
    padding: 0;
}

.first-spoiler p
{
    margin-top: 0;
    font: 20px "ChampionGothic";
    line-height: .8;
}

.first-spoiler span
{
    margin-left: 10px;
    font-size: 15px;
}

.first-spoiler .digit
{
    font-family: "Inkulinati";
    font-size: 60px;
    margin: 5px 0 0 0;
}

.second-spoiler
{
    float: left;
    display: flex;
    margin: 0 0 0 50px;
    padding: 0;
}

.second-spoiler p
{
    text-transform: uppercase;
    font: 45px "FirstReign";
    font-weight: bold;
    margin: -3px 0 0 0;
}

.second-spoiler .digit
{
    margin-top: -15px;
    font-weight: normal;
    font: 65px "CloisterBlack";
}

.third-spoiler
{
    float: left;
    display: flex;
    margin: 0 0 0 40px;
    padding: 0;
}

.third-spoiler p
{
    font: 20px "GothicMother";
    line-height: .9;
    letter-spacing: 3px;
    margin: 10px 0 0 0;
}

.third-spoiler .digit
{
    margin: -17px 0 0 5px;
    font: 55px "ChampionGothic";
}

.fourth-spoiler
{
    float: left;
    display: flex;
    margin: 0 0 0 20px;
    padding: 0;
}

.fourth-spoiler p
{
    margin: 5px 0 0 0;
    font: 20px "Zier";
    font-weight: bold;
    text-align: right;
}

.fourth-spoiler p span
{
    font-size: 12px;
}

.fourth-spoiler .digit
{
    font: 70px "ParselTongue";
    font-weight: bold;
    margin: -20px 0 0 5px;
    transform: rotate(-15deg);
}

@font-face
{
    font-family: "ParselTongue";
    src: url("fonts/PARSELTO.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "GothicMother";
    src: url("fonts/Gothic-Mother.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Inkulinati";
    src: url("fonts/Inkulinati-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Zier";
    src: url("fonts/ZierinitialenTwo.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "ChampionGothic";
    src: url("fonts/ChampionGothic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "GotikaBlack";
    src: url("fonts/GotikaBlack.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "CloisterBlack";
    src: url("fonts/CloisterBlackLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "FirstReign";
    src: url("fonts/FirstReign.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face
{
    font-family: "Zodiac";
    src: url("fonts/ZodiacSigns.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@media print {
    @page {
        size: A4;
        margin: 0;
    }

    body {
        width: 210mm;
        height: 297mm;
        background-image: url("images/background.jpg");
        background-size: cover;
        margin: auto;
    }

    main {
        width: 210mm;
        height: 297mm;
    }

    .logo img {
        margin-right: 5px;
        width: 100px;
        height: 107px;
    }

    .logo-text .main {
        width: 625px;
        height: 97px;
    }

    .description p {
        margin-top: 5px;
        font-size: 15px;
    }

    .description img
    {
        width: 10px;
        height: 11px;
        margin-top: -12px;
    }

    .hr
    {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-left: 36px;
    }

    .hr img
    {
        width: 644px;
        margin-left: 121px;
        margin-top: -25px;
    }

    .hr p
    {
        font-size: 10px;
        font-family: "GotikaBlack";
        transform: rotate(180deg);
        margin-right: -130px;
        margin-left: 0px;
        margin-top: -13px;
        margin-bottom: 12px;
    }
}
